/* Mixins */
body * {
  box-sizing: border-box;
  font-family: Courier, monospace; }

html {
  font-size: 62.5%; }

#container {
  width: 100%;
  background-color: #F2F2F2; }

#main-content {
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden; }

.nav-expanded {
  max-height: 200px !important; }

.text-center {
  text-align: center; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

.full-width {
  width: 100% !important; }

.active-link, #store-header ul.full-nav li:hover a {
  color: #f6f6f6 !important; }

@media only screen and (min-width: 740px) {
  .animsition-loading {
    margin-top: 6%; } }

#store-header {
  height: 98px;
  background-color: black;
  color: rgba(246, 246, 246, 0.6);
  display: flex;
  padding-left: 2%; }
  #store-header .logo-holder {
    margin: 0;
    width: 225px; }
    #store-header .logo-holder img {
      width: 100%; }
  #store-header ul.full-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 98px;
    font-size: 3rem;
    font-weight: bold; }
    #store-header ul.full-nav li {
      margin-right: 5%;
      letter-spacing: 0.3rem; }
      #store-header ul.full-nav li:hover a {
        cursor: pointer;
        color: #f6f6f6; }
      #store-header ul.full-nav li a {
        color: rgba(246, 246, 246, 0.6); }
        #store-header ul.full-nav li a:link, #store-header ul.full-nav li a:visited {
          text-decoration: none; }
  #store-header #nav-toggle-box {
    display: none;
    font-size: 4.5rem;
    margin-right: 3%; }

@media only screen and (max-width: 790px) {
  .full-nav {
    display: none !important; }
  #nav-toggle-box {
    display: flex !important;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end; } }

#main-content #info-panel {
  width: 200px;
  float: left;
  margin-left: 3%; }

#main-content #main-wrapper {
  width: 76%;
  float: left;
  margin-left: 3%;
  min-height: 250px; }

@media only screen and (max-width: 1170px) {
  #main-content #info-panel {
    width: 95%;
    float: none;
    margin-left: 2.5%;
    margin-right: 2.5%; }
  #main-content #main-wrapper {
    width: 95%;
    float: none;
    margin-left: 2.5%;
    margin-right: 2.5%; } }

.side-bar {
  margin-top: 25px; }
  @media only screen and (max-width: 790px) {
    .side-bar {
      margin: 0 15px 30px 15px; } }
  .side-bar h4 {
    font-size: 2.5rem;
    margin: 0 0 10px 0; }
    @media only screen and (max-width: 790px) {
      .side-bar h4 {
        font-size: 2.4rem;
        text-align: center; } }
  .side-bar .side-content-wrapper {
    padding: 15px;
    background-color: white;
    border-top: 5px solid #E5E5E5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.05); }
    .side-bar .side-content-wrapper figure {
      margin: 0; }
      @media only screen and (max-width: 790px) {
        .side-bar .side-content-wrapper figure {
          float: left;
          width: 40%;
          margin: 0 15px 5px 0; } }
      .side-bar .side-content-wrapper figure img {
        width: 100%; }
    .side-bar .side-content-wrapper p {
      font-family: "Hind", sans-serif;
      font-size: 1.8rem;
      line-height: 2.3rem;
      word-spacing: 0.5rem; }
      @media only screen and (max-width: 790px) {
        .side-bar .side-content-wrapper p {
          font-size: 1.8rem; } }

#main-wrapper {
  margin-top: 5px;
  padding: 15px;
  background-color: white;
  border-top: 5px solid #E5E5E5;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
  margin-bottom: 25px; }

#info-panel {
  font-size: 1.8rem;
  color: #5b5b5b; }
  #info-panel .store-controls .control {
    display: inline-block;
    margin-bottom: 15px; }
    #info-panel .store-controls .control:hover {
      cursor: pointer;
      color: #2d2d2d; }
    #info-panel .store-controls .control p {
      margin: 0;
      display: inline;
      transition: all 0.2s ease-in; }
  #info-panel .store-controls .my-sign-out, #info-panel .store-controls .my-sign-up {
    margin-bottom: 0; }
  #info-panel .store-controls .fa-user {
    position: relative;
    left: 2px;
    margin-right: 13px; }
  #info-panel .store-controls .fa-shopping-cart {
    margin-right: 11px; }
  #info-panel .store-controls .fa-sign-out {
    position: relative;
    left: 3px;
    margin-right: 13px; }
  #info-panel .store-controls .fa-sign-in {
    position: relative;
    left: 3px;
    margin-right: 14px; }
  #info-panel .store-controls .fa-user-plus {
    position: relative;
    left: 3px;
    margin-right: 9px; }
  #info-panel .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px; }

@media only screen and (max-width: 1170px) {
  #info-panel {
    margin-bottom: 25px;
    width: 100%; }
    #info-panel .store-controls {
      height: 50px;
      width: 55%;
      float: left;
      padding-left: 15px; }
      #info-panel .store-controls .controls {
        position: relative;
        top: -3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        #info-panel .store-controls .controls .control {
          margin-right: 30px; }
        #info-panel .store-controls .controls .fa {
          display: none; }
    #info-panel .social-links {
      width: 45%;
      float: left;
      margin-top: 0;
      height: 50px; } }

@media only screen and (max-width: 790px) {
  #info-panel {
    display: none; } }

.product-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }
  .product-list .product-item {
    padding: 15px 2%;
    flex-grow: 1;
    flex-shrink: -1;
    max-width: 33%; }
    .product-list .product-item figure {
      margin: 0;
      border: 3px solid #efefef; }
      .product-list .product-item figure img {
        width: 100%;
        border-bottom: 3px solid #efefef; }
      .product-list .product-item figure figcaption {
        padding-top: 5px;
        font-weight: bold;
        margin: 0 7px 7px 7px;
        font-family: "Hind", sans-serif; }
      .product-list .product-item figure .product-name {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0; }
      .product-list .product-item figure .product-price {
        font-size: 2.2rem;
        position: relative;
        top: 2px;
        font-family: "Hind", sans-serif; }
      .product-list .product-item figure .view-button {
        font-size: 1.8rem;
        float: right;
        color: #efefef;
        background-color: #5b5b5b;
        border: 2px solid #b7b7b7;
        padding: 1px 10px;
        transition: all 0.1s ease-in;
        border-radius: 2px;
        font-family: "Hind", sans-serif;
        letter-spacing: 1px; }
        .product-list .product-item figure .view-button:hover {
          cursor: pointer;
          border-color: #5b5b5b; }

@media only screen and (max-width: 940px) {
  .product-list .product-item {
    max-width: 50%; } }

@media only screen and (max-width: 550px) {
  .product-list .product-item {
    max-width: 100%; } }

#cart .cart-header h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0; }

#cart .back-to-store {
  display: inline;
  font-size: 1.7rem;
  margin-left: 2%;
  color: #777777;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  #cart .back-to-store:hover {
    cursor: pointer;
    color: black; }

#cart .cart-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

#cart .cart-item {
  position: relative;
  flex-grow: 1;
  flex-shrink: -1;
  max-width: 25%;
  padding: 15px 2%; }
  #cart .cart-item figure {
    margin: 0;
    border: 3px solid #efefef; }
    #cart .cart-item figure:hover .fa-times-circle {
      display: block; }
    #cart .cart-item figure .remove-from-cart {
      display: none;
      position: absolute;
      right: 4.5%;
      top: 6px;
      color: #777777;
      font-size: 2.5rem;
      background-color: white;
      border-radius: 50%;
      transition: all 0.1s ease-in; }
      #cart .cart-item figure .remove-from-cart:hover {
        cursor: pointer;
        color: black; }
    #cart .cart-item figure img {
      width: 100%; }
    #cart .cart-item figure figcaption {
      font-family: "Hind",sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem; }
  #cart .cart-item .cart-item-size, #cart .cart-item .cart-item-price {
    display: inline;
    font-size: 2rem;
    margin-top: 5px;
    padding: 5px 5px 0 5px; }
  #cart .cart-item .cart-item-size {
    position: relative;
    top: 4px;
    float: left; }
  #cart .cart-item .cart-item-price {
    float: right;
    font-family: "Hind",sans-serif;
    letter-spacing: 1.5px; }

#cart .checkout {
  margin-top: 20px; }
  #cart .checkout h2 {
    font-family: "Hind",sans-serif;
    display: inline;
    font-size: 2.5rem;
    margin-left: 2%;
    letter-spacing: 1.5px; }
  #cart .checkout .btn-checkout {
    font-size: 1.8rem;
    float: right;
    color: #efefef;
    background-color: #5b5b5b;
    border: 2px solid #b7b7b7;
    padding: 1px 10px;
    transition: all 0.1s ease-in;
    border-radius: 2px;
    font-family: "Hind", sans-serif;
    margin-right: 2%;
    letter-spacing: 1px; }
    #cart .checkout .btn-checkout:hover {
      cursor: pointer;
      border-color: #5b5b5b; }

#cart .empty-cart {
  font-size: 2rem;
  color: #777777;
  font-weight: bold;
  text-transform: uppercase; }

.vex-overlay {
  background: rgba(255, 255, 255, 0.7) !important; }

.vex-dialog-form {
  font-size: 1.8rem; }
  .vex-dialog-form .vex-dialog-input input:not(:first-child) {
    margin-top: 15px !important; }
  .vex-dialog-form label.error {
    font-size: 0.9em;
    color: #64260B;
    font-weight: bold;
    font-style: italic; }
  .vex-dialog-form .vex-dialog-message {
    font-size: 2.7rem;
    font-weight: bold; }

.emergency {
  margin-top: 15px;
  margin-bottom: 0.25em;
  border-bottom: 2px solid transparent; }
  .emergency .emergency-btn {
    display: inline;
    border-bottom: 1px dashed #5b5b5b; }
    .emergency .emergency-btn:hover {
      cursor: pointer; }

.custom-vex-width {
  width: 500px !important; }

.custom-vex-padding-top {
  padding-top: 30px !important; }

.product-modal + .vex-close:before {
  height: 0 !important;
  width: 0 !important;
  top: -2px !important;
  right: 41px !important; }

.product-modal .vex-dialog-message {
  font-family: "Hind", sans-serif;
  padding-right: 30px;
  margin-bottom: 0.3em;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: normal; }

.product-modal figure {
  position: relative;
  margin: 0; }
  .product-modal figure img {
    width: 100%; }
  .product-modal figure .product-modal-price {
    font-family: "Hind", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.5em; }

.product-modal .size-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.3rem;
  font-weight: bold; }
  .product-modal .size-picker .size-title {
    flex-grow: 2;
    font-size: 2.2rem;
    font-family: "Hind", sans-serif; }
  .product-modal .size-picker .product-sizes {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
    color: #5b5b5b; }
    .product-modal .size-picker .product-sizes span:hover {
      cursor: pointer;
      border-bottom: 2px dotted #5b5b5b; }
    .product-modal .size-picker .product-sizes .selected-size {
      color: black;
      padding-bottom: 5px;
      border-bottom: 2px dotted black; }

.product-modal .quantity-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.7rem; }
  .product-modal .quantity-picker .quantity-title {
    flex-grow: 2;
    font-family: "Hind", sans-serif;
    font-size: 2.2rem;
    font-weight: bold; }
  .product-modal .quantity-picker .quantity-controls {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem; }
    .product-modal .quantity-picker .quantity-controls .total-quantity {
      font-weight: bold;
      padding: 0 10px; }
    .product-modal .quantity-picker .quantity-controls i {
      color: #5b5b5b;
      transition: all 0.2s ease-out; }
      .product-modal .quantity-picker .quantity-controls i:hover {
        color: black;
        cursor: pointer; }

.product-modal .button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1.7rem; }
  .product-modal .button-container button {
    font-size: 1.3rem !important;
    font-weight: bold !important;
    float: none !important; }
  .product-modal .button-container .cart-button {
    margin: 0; }

#page-footer {
  padding: 10px 0;
  background-color: #222222;
  color: white;
  text-align: center;
  font-size: 1.5rem; }
