//= partials/_mixins.scss
//= partials/_variables.scss
//= partials/_layout.scss
//= partials/_main-page-header.scss
//= partials/_main-navigation.scss
//= partials/_side-bars.scss
//= partials/_article-posts.scss
//= partials/_page-footer.scss
//= partials/_button.scss

body * {
	box-sizing: border-box;
	font-family: $main-font;
}

html {
	font-size: 62.5%;
}

#container {
	width: 100%;
}

#main-content{
	background-color: #F2F2F2;
	overflow: hidden;
}

.nav-expanded{
	max-height: 200px !important;
}

.clearfix{
	clear: both;
}
