#inline-navigation{
	width: 100%;
	font-size: 2.5rem;
	font-weight: bolder;
	letter-spacing: 0.3rem;

	@media only screen and (max-width:789px){
		display: none;
	}

	ul{
		@include display-flex;
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(space-between);
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0 5%;


			&:hover a{
				cursor: pointer;
				color: rgba($nav-font-color, 1);
			}

			a {
				color: $nav-font-color;
				@include link-reset;
			}
		}
	}
}