<div id="contacts">
    <h1>Follow Us</h1>
    <hr />
    <div id="socialText">
        <a class="social" id="facebook" href="https://www.facebook.com/bobbybubonicandplague">
            <h2>Official Facebook Page</h2>
        </a>
        <a class="social" id="sound-cloud" href="https://soundcloud.com/bobbybubonic">
            <h2>Sound Cloud</h2>
        </a>
        <a class="social" id="reverbnation" href="https://www.reverbnation.com/bobbybubonicandtheplague">
            <h2>ReverbNation</h2>
        </a>
    </div>
    <div id="socialImages">
        <a class="social" id="facebook" href="https://www.facebook.com/bobbybubonicandplague">
            <img src="media/social/facebook.png" />
        </a>
        <a class="social" id="sound-cloud" href="https://soundcloud.com/bobbybubonic">
            <img src="media/social/soundcloud.png" />
        </a>
        <a class="social" id="reverbnation" href="https://www.reverbnation.com/bobbybubonicandtheplague">
            <img src="media/social/reverbnation.png" />
        </a>
    </div>
</div>
