<div id="top-image">
    <img class="img-responsive" src="media/images/band_1.jpg" />
</div>
<div>
    <h3>
        Welcome to the fan page of the punk rock band Bobby Bubonic and The Plague!
    </h3>
    <p>
        The founding members, Connor, Danny, and Mike, started the band in 2013 in Akron,
        Ohio. The band was highly influeced by famous band such as Green Day,
        The Black Keys, Foo Fighters, and so on.
    </p>
    <p>
        In 2015 the band added Jenna. Bobby Bubonic and the Plague has been practicing
        and perfecting their original work for two years, now they will share it with
        the masses!
    </p>
</div>
<div>
    <h1>Gallery</h1>
    <hr />
    <div class="gallery">
        
    </div>
</div>
<div>
    <h1>Videos</h1>
    <hr />
</div>
