#review-order {

	h2 {
		text-align: center;
		font-size: 2.5rem;
		color: $middle-gray;
	}

	.table {
		display: flex;
		align-content: space-around;
		flex-direction: column;
		padding: 15px 2%;
		color: #2D2D2D !important;
	}

	.table-header {
		font-size: 2.2rem;
		background-color: $middle-gray;
		text-transform: uppercase;

		[class*="table-row"]{
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;
			color: white;
			font-weight: bold;
			border-bottom: none !important;
		}
	}

	

	.table-summary {
		justify-content: flex-end;

		[class*="table-row"]{
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;
		}
	}

	.table-row {
		display: flex;
		flex-direction: row;
		width: 100%;

		[class*="table-row"]{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: $side-font-size;
			font-family: $article-font;
			flex-shrink: 1;
			border-left: 2px solid $li-mi-gray;
			text-align: center;

			&:last-child{
				border-right: 2px solid $li-mi-gray;
			}

			&:not(.item-hidden){
				border-bottom: 2px solid $li-mi-gray;
			}
		}

		.table-row-item-large {
			flex-basis: 25%;
			flex-grow: 2;			
		}

		.table-row-item-small{
			flex-basis: 5%;	
			flex-grow: 1;
			flex-shrink: 1;
		}



		.item-hidden {
			// I want to remove background and border from this element
			background-color: white;
			border-left: none !important;
		}

		
	}

	.table-address{
			
			[class*="table-row"]{
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
			}	
		}

	

	.list {
		display: none;
		width: 70%;
		margin: 0 auto;

		.list-item:not(:first-child){
			@extend .list-top-margin;
		}
		
		.list-item-header{
			@extend .table-header;
			font-family: $article-font;
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;
			color: white;
			font-weight: bold;
			text-align: center;

		}

		.list-item-image {
			margin: 0;
			padding: 0;
			border: 2px solid $li-mi-gray;

			img {
				width: 100%;
				border-bottom: 2px solid $li-mi-gray;
			}
		}

		.list-item-description{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: $side-font-size + 0.5;		
			text-align: center;

			[class*="list-item"]{
				flex-grow: 1;
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
				font-family: $article-font;
			}

			.list-item-name{		
				flex-basis: 100%;
				border-bottom: 2px solid $li-mi-gray;
			}

			.list-item-quantity{
				flex-basis: 50%;
				border-right: 2px solid $li-mi-gray;
			}

			.list-item-price{
				flex-basis: 50%;
			}
		}

		/* designing address list */
		.list-address{

			@extend .list-top-margin;

			.list-address-description{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				font-size: $side-font-size + 0.5;		
				text-align: center;
				border: 2px solid $li-mi-gray;

				[class*="list-address"]{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-grow: 1;
					padding-top: 1.2rem;
					padding-bottom: 1.2rem;
					font-family: $article-font;
				}

				.list-address-street{
					flex-basis: 100%;
					border-bottom: 2px solid $li-mi-gray;
				}

				.list-address-state{
					flex-basis: 50%;
					border-right: 2px solid $li-mi-gray;
				}

				.list-address-country{
					flex-basis: 50%;
				}
			}

		}
		
		.list-payment {
			@extend .list-top-margin;
			border: 2px solid $li-mi-gray;

			.list-payment-item{
				display: flex;
				flex-direction: row;
				align-items: center;
				flex-wrap: nowrap;
				text-align: center;

				&:not(:last-child){
					border-bottom: 2px solid $li-mi-gray;
				}

				div{
					flex-basis: 50%;
					font-size: $side-font-size + 0.5;	
					padding-top: 1.2rem;
					padding-bottom: 1.2rem;
					font-family: $article-font;	

					&:first-child{
						border-right: 2px solid $li-mi-gray;

					}
				}
			}
		}

	}

	

	.list-top-margin{
		margin-top: 25px;
	}

	.table-background{
		background-color: $light-gray;
	}

	.final-price {
		font-size: 2.2rem;
		font-weight: bold;
	}

}

.small-image{
	padding: 1rem;
	margin: 0;
	display: flex;
	align-items: center;

	img{
		width: 100%;
	}
}

/* Payment modal window */
.vex-dialog-form{

	input{
		margin-top: 5px !important;
		margin-bottom: 15px !important;
	}

	label{
		font-weight: bold !important;
	}

	.error-field {
		color: #64260B;
		font-weight: bold;
	}

}

@media only screen and (max-width:989px){
	// make another one that fits smaller screens
	#review-order{
		.table {
			display: none;
		}

		.list{
			display: block;
		}
	}
}

@media only screen and (max-width:789px){
	#review-order{
		.list{
			width: 95%;
		}
	}
}