.store-btns {
	margin-top: 40px;

	h2{
		font-family: "Hind",sans-serif;
		display: inline;
		font-size: 2.5rem;
		margin-left: 2%;
		letter-spacing: 1.5px;
	}

	
	.cart-btn {
		font-size: 1.8rem;
		
		padding: 1px 10px;
		transition: all 0.1s ease-in;
		border-radius: 2px;
		font-family: $article-font;
		
		letter-spacing: 1px;
		border: 2px solid #b7b7b7;

		&:hover {
			cursor: pointer;
			border-color: #5b5b5b;
		}

		

		 
	}

	.cart-btn-left {
		float: right;
		margin-right: 2%;
	}

	.cart-btn-center {
		float: none;
		display: block;
		min-width: 33.333%;
		margin: 0 auto;
	}

	.btn-light{
		background-color: transparent;
	}

	.btn-dark {			
		color: $light-gray;
		background-color: #5b5b5b;
	}
}

.vex {
	button {
		height: 40px;
	}
}

button [class*="loader"]{
	font-size: 5px !important;
	top: -10px;
}

button:disabled{
	opacity: 80%;
	cursor: not-allowed;
}

@media only screen and (max-width:550px){
	.store-btns{



		h2{
			display: block;
			text-align: center;
		}

		.cart-btn{
			float: none;
			display: block;
			min-width: 33.333%;
			margin: 0 auto;
			margin-bottom: 1.5rem;
		}
	}

}