// General
.vex-overlay {
	background: rgba(255, 255, 255, 0.7) !important;
}

.vex-dialog-form {
	font-size: 1.8rem;

	.vex-dialog-input {

		input:not(:first-child){
			margin-top: 15px !important;
		}
	}

	label.error {
		font-size: 0.9em;
		color: #64260B;
		font-weight: bold;
		font-style: italic;
	}

	.vex-dialog-message {
		font-size: 2.7rem;
		font-weight: bold;
	}
}

.emergency {
	// the same as modal form fields
	margin-top: 15px;
	margin-bottom: 0.25em;
	border-bottom: 2px solid transparent;

	.emergency-btn {
		display: inline;
		border-bottom: 1px dashed $middle-gray;

		&:hover {
			cursor: pointer;
		}
	}
}

// Modal that opens when viewing the page
.custom-vex-width {
	width: 500px !important;
}

.custom-vex-padding-top {
	padding-top: 30px !important;
}

.product-modal {
	
	// Close button
	& + .vex-close:before {
		height: 0 !important;
		width: 0 !important;
		top: -2px !important;
    right: 41px !important;
	}

	.vex-dialog-message {
		font-family: "Hind", sans-serif;
		padding-right: 30px;
		margin-bottom: 0.3em;
		font-size: 2.7rem;

		font-weight: bold;
		line-height: normal;
	}
	
	figure {
		position: relative;
		margin: 0;

		img {
			width: 100%;
		}

		.product-modal-price {
			font-family: "Hind", sans-serif;
			font-size: 2.5rem;
			margin-bottom: 0.5em;
		}
	}

	.size-picker {		
		display: flex;
		flex-direction: row;	
		align-items: center;	
		margin-top: 1.3rem;
		
		font-weight: bold;

		.size-title {
			flex-grow: 2;
			font-size: 2.2rem;
			font-family: "Hind", sans-serif;
		}

		.product-sizes {
			flex-grow: 3;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 3rem;
			color: $middle-gray;

			span{

				&:hover {
					cursor: pointer;
					border-bottom: 2px dotted $middle-gray;
				}
			}

			.selected-size {
				color: black;
				padding-bottom: 5px;
				border-bottom: 2px dotted black;
			}
		}
	}

	.quantity-picker {
		display: flex;
		flex-direction: row;	
		align-items: center;	
		margin-top: 1.7rem;

		.quantity-title {
			flex-grow: 2;
			font-family: "Hind", sans-serif;
			font-size: 2.2rem;
			font-weight: bold;
		}

		.quantity-controls {
			flex-grow: 3;
			
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			font-size: 3rem;

			.total-quantity {
				font-weight: bold;
				padding: 0 10px;
			}

			i {
				color: $middle-gray;
				transition: all 0.2s ease-out;

				&:hover {
					color: black;
					cursor: pointer;
				}
			}
			
		}
	}

	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		margin-top: 1.7rem;

		button {
			font-size: 1.3rem !important;
			font-weight: bold !important;
			float: none !important;
		}

		.cart-button {
			margin: 0;
		}

	}
}

.growl.growl-default{
	background-color: black !important;
}