#info-panel {
	font-size: $side-font-size;
	color: $middle-gray;

	.store-controls {

		.control {
			display: inline-block;
			// border-bottom: 2px solid transparent;
			margin-bottom: 15px;

			&:hover {
				cursor: pointer;
				// outline-bottom: 2px solid $dark-gray;
				color: $dark-gray;
			}
			
			p {
				margin: 0;
				display: inline;
				transition: all 0.2s ease-in;	
			}
		}		

		.my-sign-out, .my-sign-up {
			margin-bottom: 0;
		}

		.fa-user {
			position: relative;
			left: 2px;
			margin-right: 13px;
		}

		.fa-shopping-cart {
			margin-right: 11px;
		}

		.fa-sign-out { // Log out
			position: relative;
			left: 3px;
			margin-right: 11px;
		}

		.fa-sign-in {
			position: relative;
			left: 3px;
			margin-right: 14px;
		}

		.fa-user-plus {
			position: relative;
			left: 3px;
			margin-right: 9px;
		}

	}

	.social-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		margin-top: 25px;
	}
	
}

@media only screen and (max-width:1170px){

	#info-panel {
		margin-bottom: 25px;
		width: 100%;
		
		.store-controls {
			height: 50px;
			width: 55%;
			float: left;
			padding-left: 15px;

			.controls {
				position: relative;
				top: -3px;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;	

				.control {
					margin-right: 30px;
				}

				.fa {
					display: none;
				}
			}
		}

		.social-links {
			width: 45%;
			float: left;
			margin-top: 0;
			height: 50px;
		}

	}
	
}

@media only screen and (max-width:790px){
	// overiding the _side-bars.scss rule
	#info-panel {
		display: none;
	}
}