#product-list {
	@include article-design;
	@include display-flex;
	flex-wrap: wrap;
	@include justify-content(space-between);
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px;

	.product-item {
		padding: 15px 2%;
		flex-grow: 1;
		flex-shrink: -1;
		max-width: 33%;
		

		figure {
			margin: 0;
			border: 3px solid $light-gray;

			img {
				width: 100%;
				border-bottom: 3px solid $light-gray;
			}

			figcaption {
				padding-top: 5px;
				font-weight: bold;
				margin: 0 7px 7px 7px;
				font-family: $article-font;
			}

			.product-name {
				font-size: 2rem;
				text-align: center;
				margin-bottom: 0;
			}

			.product-price {
				font-size: 2.2rem;
				position: relative;
				top: 2px;
				font-family: $article-font;
			}

			.view-button {
				font-size: 1.8rem;
				float: right;
				color: $light-gray;
				background-color: #5b5b5b;
				border: 2px solid #b7b7b7;
				padding: 1px 10px;
				transition: all 0.1s ease-in;
				border-radius: 2px;
				font-family: $article-font;
				letter-spacing: 1px;

				&:hover {
					cursor: pointer;
					// color: $dark-gray;
					border-color: #5b5b5b;
				}
			}
		}
	}
}

@media only screen and (max-width:940px){
	#product-list  {
		.product-item {
			max-width: 50%;
		}		
	}
}

@media only screen and (max-width:550px){
	#product-list  {
		.product-item {
			max-width: 100%;
		}		
	}
}