/* Designing article posts */

article.post{
	margin: 0 15px 30px 15px;

	.article-title{
		display: inline-block;
		margin-bottom: 5px;
		font-size: $article-header-size;
		font-weight: bold;
	}

	.article-date{
		display: block;
		margin:0;
		font-size: 1.5rem;
		color: #909090;
	}

	.article-content{
		margin-top: 5px;
		padding: 15px;
		background-color: white;
		border-top: 5px solid #E5E5E5;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.05);

		figure{

			margin: 0 15px 15px 0;


			@media only screen and (min-width:600px){
				float: left;
				width: 40%;
			}

			.article-image{
				width: 100%;
			}
		}

		.article-text{
			margin: 0;
			padding: 0 15px;
			font-family: $article-font;
			font-size: $article-text-size;
			line-height: $mobile-line-height;
			word-spacing: 0.5rem;
			text-align: left;
		}

		hr{
			margin: 5px 0 0 0;
			opacity: 0.2;
		}
	}
}
