body * {
	box-sizing: border-box;
	font-family: $main-font;
}

html {
	font-size: 62.5%;
}

#container {
	width: 100%;
	background-color: #F2F2F2;
}

#main-content{
	margin: 0 auto;
	max-width: 1400px;
	
	overflow: hidden;
}

.nav-expanded{
	max-height: 500px !important;
}

.text-center{
	text-align: center;
}

.clearfix{
	clear: both;
}

.hidden{
	display: none;
}

.upcase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}

.visible {
	display: block;
}

.full-width{
	width:100% !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}
.active-link{
	color: rgba($nav-font-color, 1) !important;
}
