//- Global Variables

$main-font: Courier, monospace;
$date-color: #909090;
$section-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.05);
$sub-text-size: 1.5rem;


$article-font: 'Hind', sans-serif;
$article-header-size: 3rem;
$article-text-size: 1.8rem;
$artilce-line-height: 3rem;
$article-header-margin-bottom: 5px;

$side-font-size: 1.8rem;


$mobile-font-size: 2.3rem;
$mobile-line-height: 3.5rem;
$mobile-header-size: 2.4rem;


$nav-background: #222222;
$nav-font-color: rgba(246, 246, 246, 0.6);
