//- Global Variables

$main-font: Courier, monospace;

$article-font: 'Telex', sans-serif;

$article-header-size: 3rem;

$article-text-size: 2rem;

$side-font-size: 3rem;

$mobile-font-size: 2.3rem;

$mobile-line-height: 3.5rem;

$mobile-header-size: 2.4rem;

$nav-background: #222222;

$light-font: #F6F6F6;
