//- Global Variables

$main-font: Courier, monospace;

$article-font: 'Raleway', sans-serif;

$mobile-font-size: 1.9rem;

$mobile-line-height: 2.7rem;

$mobile-header-size: 2.4rem;

$nav-background: #222222;

$light-font: #F6F6F6;
