#main-content {


	#sponsors {
		width: 23%;
		float: left;
		margin-left: 3%;
	}

	#members-list {
		width: 45%;
		margin-left: 3%;
		float: left;
	}
}

@media only screen and (max-width:800px){
	#main-content {

		#sponsors {
			display: none;
		}

		#members-list {
			margin: 0;
			float:none;
			width: 85%;
			margin: 0 auto;
		}
	}
}