.member {

	margin: 0 15px 30px 15px;

	.member-heading {

		h3 {
			display: inline-block;
			width: 100%;
			font-size: $article-header-size;
			margin-bottom: $article-header-margin-bottom;
			
			&:not(:first-child){
				margin-top: 50px;
			}
		}

		small {
			color: $date-color;
			font-size: $sub-text-size;
		}
		
	}

	.member-content {
		@include article-design;

		.profile-img-wrapper {
			width: 100%;
			float: left;
			.profile-img-holder {
				
				margin: 0;

				img {
					width: 100%;
				}
			}
		}

		.thumbnails-wrapper {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;


			.thumbnail {
				flex-basis: 176px;
				margin: 13px 0 0 0;

				img {
					width: 100%;
				}
			}
		}
	}
}