section#song-list{
  margin: 0 15px 30px 15px;

  .article-title{
    margin-left: 0;
    display: inline-block;
    margin-bottom: 5px;
    font-size: $article-header-size;
    font-weight: bold;
  }

  section.songs {

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between)
    @include flex-wrap(wrap);

    article.song{
      flex-basis: 300px;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 25px 15px 30px 15px;
      background-color: white;
      border-top: 5px solid #E5E5E5;
      box-shadow: $section-box-shadow;
    }
  }
  
}
